.card {
     height: 18rem !important; 
     background-image: linear-gradient(#FCC1B0,#D7C2D7);
}


.img-size {
    width: 60%;
    height: 70%;
}

.card-border {
    border-style: dashed;
    border-color: black;
}